@inject AppMVC01.Services.PlanetService planetService
<h1>Cac hanh tinh trong he mat troi</h1>

<div class="list-group">
    @foreach (var planet in planetService)
    {
        <a class="list-group-item list-group-item-action" asp-controller="Planet" asp-action="@planet.Name">
            @planet.VnName - @planet.Name
        </a>
    }

</div>

<p>
    @Url.RouteUrl("neptune1")
</p>

<p>
    @Url.RouteUrl("neptune2")
</p>

<p>
    @Url.RouteUrl("neptune3")
</p>