@{
    ViewData["Title"] = "Home Page";
    // Url.Action()
    // Url.ActionLink()

    //Url.RouterUrl()
    //Url.Link()

    //<a> <form> <button>
     
}
<partial name="_AlertMessage" />
<div class="text-center">
    <h1 class="display-4">Xin chao</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    <li>asp-area="Area"</li>
    <li>asp-action="Action"</li>
    <li>asp-controller="Product"</li>
    <li>asp-route...="123"</li>
    <li>asp-route="default"</li>
</ul>

<a asp-action="ViewProduct" asp-controller="First" asp-route-id="3">Vidu1</a>

@{
    var routedata = new Dictionary<string, string>()
    {
        {"name", "TuanVU"},
        {"abc" , "XYZ"},
        {"id" , "3"}
    };

}
<a asp-action="Index" asp-controller="Home" asp-route-name="TuanVu" asp-route-abc="XYZ" asp-route-id="2">Vidu2</a>
<a asp-action="Index" asp-controller="Product" asp-all-route-data="@routedata" asp-area="ProductManage">Vidu3</a>
<p>
    @Url.ActionLink();
</p>

<p>
    @Url.Action();
</p>

<p>
    @Url.Action("Privacy");
</p>


<p>
    @Url.Action("Privacy", new {id = 123, name = "TuanVu" });
</p>

<p>
    @Url.Action("Jupiter", "Planet");
</p>

<p>
    @Url.Action("PlanetInfo", "Planet", new {id = 3});
</p>

<p>
    @Url.Action("Index", "Product", new{area = "ProductManage", id = 123});
</p>

<p>
    @Url.RouteUrl("default", new {action = "HelloView", controller = "Home", id =123 , name = "TuanVu"})
</p>

<p>
    @Url.RouteUrl("neptune2")
</p>